{%extends 'dayday/base01.html'%}

{%block js%}
<script type="text/javascript">
	
	$(function(){

		
		// 提交表单时候,如果都为false,组织提交事件

		name_err = false;
		pwd_err = false;
		var $user_err = $('.user_error');
		var $pwd_err = $('.pwd_error');
		var $name_input = $('.name_input');
		var $pass_input = $('.pass_input');

		// 当输入密码后,进行提交.处理提交事件的视图验证,如果有错误会传过来两个变量
		//默认是0(默认值是进入登陆页面的视图传送过来)

		if ({{err_name}}==1) 
		{
			$user_err.html('用户名错误').show()
		}

		if ({{err_passwd}}==1) 
		{
			$pwd_err.html('密码错误').show()
		}
		

		$name_input.blur(function(){
			len = $name_input.val().length
			
		if (len==0)	
		{
			$user_err.html('请输入用户名').show();
	 	 	name_err = true
	 	 	// alert('hahah')
		};

		if(len!=0)

		{
			$user_err.hide();
			name_err = false
		}

		})

		$pass_input.blur(function(){
			if ($pass_input.val().length==0)

			{
				$pwd_err.html('请输入密码').show();
				pwd_err = true;

			}

			else{
				$pwd_err.hide()
				pwd_err = false;
				

			}
		})


		$('#form_input').submit(function(){

			$name_input.blur();
			$pass_input.blur();
			if(name_err==false && pwd_err==false)
			{
				return true;
			}
			else{
				return false;
			}

		})

	})

</script>
{%endblock js%}

	
{%block content%}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>	
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form method="post" action="/user/login_handle/" id="form_input">
					
					{%csrf_token%}
						<input type="text" name="username" class="name_input" placeholder="请输入用户名" value="{{uname}}">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码" value="{{upasswd}}">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="rem" value='1' checked="false">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

	{%endblock content%}
